.customer-search-autocomplete {
    border: 2px dashed goldenrod;
}

.customer .id {
    width: 10ex;
    font-size: 50%;
    color: darkseagreen;
}


.customer .name {
    display: inline-block;
    width: 25em;
    max-width: 24em;
    overflow: hidden;
    text-overflow: ellipsis;
    color: orchid;
    font-weight: bold;
    margin-right: 1em;
}
.customer .phone {
    display: inline-block;
    width: 8em;
    max-width: 15em;
    overflow: hidden;
    text-overflow: ellipsis;
    color: darkkhaki;
}
.customer .address {
	display: inline-block;
    width: 15em;
    max-width: 15em;
    overflow: hidden;
    text-overflow: ellipsis;
    color: lightsalmon;
}

.ant-select-dropdown-menu-item:hover, .ant-select-dropdown-menu-item-active {
    background-color: grey;
}